---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>
    Codes based on exercises from the Applied Data Science with Python Specialization taught by the University of Michigan
    <a class="icon fa fa-github-square" style="color:inherit;text-decoration:none" href="https://github.com/LuisAngelMendozaVelasco/Applied_Data_Science_with_Python_Specialization" target="_blank"></a>
    <a class="icon fa fa-file-pdf-o" style="color:inherit;text-decoration:none" href="https://coursera.org/verify/specialization/YTFGH2E77Q9S" target="_blank"></a>
</h2>

<details>
    <summary>Click here</summary>
    <ul>
        <li><a href="./Applied_Data_Science_with_Python_Specialization/portfolio-1.html" target="_blank">Breast Cancer Diagnosis</a></li>
        <p>Create a classifier that can help diagnose breast cancer.</p>

        <li><a href="./Applied_Data_Science_with_Python_Specialization/portfolio-2.html" target="_blank">Poisonous Mushrooms</a></li>
        <p>Train a model to predict whether or not a mushroom is poisonous.</p>

        <li><a href="./Applied_Data_Science_with_Python_Specialization/portfolio-3.html" target="_blank">Credit Card Transactions Fraud Detection</a></li>
        <p>Train multiple models and evaluate how effectively they predict credit card transactions fraud.</p>

        <li><a href="./Applied_Data_Science_with_Python_Specialization/portfolio-4.html" target="_blank">Blight Violations in the City of Detroit</a></li>
        <p>Predict whether a given blight ticket will be paid on time.</p>

        <li><a href="./Applied_Data_Science_with_Python_Specialization/portfolio-5.html" target="_blank">Spam Detection</a></li>
        <p>Train multiple classification models to predict if a message is spam or not.</p>
    </ul>
</details>

<h2>
    Codes based on exercises from the Data Engineering Foundations Specialization taught by IBM Skills Network
    <a class="icon fa fa-github-square" style="color:inherit;text-decoration:none" href="https://github.com/LuisAngelMendozaVelasco/Data_Engineering_Foundations_Specialization" target="_blank"></a>
    <a class="icon fa fa-file-pdf-o" style="color:inherit;text-decoration:none" href="https://coursera.org/verify/specialization/469C7SK85RBL" target="_blank"></a>
</h2>

<details>
    <summary>Click here</summary>
    <ul>
        <li><a href="./Data_Engineering_Foundations_Specialization/portfolio-1.html" target="_blank">Chicago Indicators</a></li>
        <p>Analyze real-world datasets from the city of Chicago using SQLite and Python.</p>
    </ul>
</details>

<h2>
    Codes based on exercises from the Data Science Fundamentals with Python and SQL Specialization taught by IBM Skills Network
    <a class="icon fa fa-github-square" style="color:inherit;text-decoration:none" href="https://github.com/LuisAngelMendozaVelasco/Data_Science_Fundamentals_with_Python_and_SQL_Specialization" target="_blank"></a>
    <a class="icon fa fa-file-pdf-o" style="color:inherit;text-decoration:none" href="https://coursera.org/verify/specialization/EJHSRQ2P26TP" target="_blank"></a>
</h2>

<details>
    <summary>Click here</summary>
    <ul>
        <li><a href="./Data_Science_Fundamentals_with_Python_and_SQL_Specialization/portfolio-1.html" target="_blank">Teaching Ratings</a></li>
        <p>Analyze teaching ratings of professors with different characteristics and see if there are external influences on the teaching evaluation score.</p>
    </ul>
</details>

<h2>
    Codes based on exercises from the Deep Learning Specialization taught by DeepLearning.AI
    <a class="icon fa fa-github-square" style="color:inherit;text-decoration:none" href="https://github.com/LuisAngelMendozaVelasco/Deep_Learning_Specialization" target="_blank"></a>
    <a class="icon fa fa-file-pdf-o" style="color:inherit;text-decoration:none" href="https://coursera.org/verify/specialization/LA8BFTV3MKKE" target="_blank"></a>
</h2>

<details>
    <summary>Click here</summary>
    <ul>
        <li><a href="./Deep_Learning_Specialization/portfolio-1.html" target="_blank">Cat Classifier</a></li>
        <p>Train a Deep Neural Network and a Convolutional Neural Network for cat recognition.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-2.html" target="_blank">Finger Signs</a></li>
        <p>Train a Convolutional Neural Network and a Residual Neural Network to classify a collection of six finger signs representing numbers from 0 to 5.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-3.html" target="_blank">Alpaca Recognition</a></li>
        <p>Implement transfer learning using a pretrained Convolutional Neural Network to build an alpaca classifier.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-4.html" target="_blank">Car Detection</a></li>
        <p>Implement object detection for autonomous driving using the "You Only Look Once" algorithm.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-5.html" target="_blank">Image Segmentation</a></li>
        <p>Build a U-Net to predict a label for every pixel in an image from an autonomous driving dataset.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-6.html" target="_blank">Face Recognition</a></li>
        <p>Build a facial recognition system using a pre-trained FaceNet model.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-7.html" target="_blank">Neural Style Transfer</a></li>
        <p>Implement a Neural Style Transfer model to generate novel artistic images.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-8.html" target="_blank">Writing like Shakespeare</a></li>
        <p>Implement a Shakespeare poem generator using a Long Short-Term Memory network.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-9.html" target="_blank">Jazz Solo</a></li>
        <p>Train a Long Short-Term Memory network to generate music.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-10.html" target="_blank">Emojify</a></li>
        <p>Build a Long Short-Term Memory model that takes word embeddings as input to predict the most appropriate emoji.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-11.html" target="_blank">Neural Machine Translation</a></li>
        <p>Build a Neural Machine Translation model to translate human-readable dates into machine-readable dates.</p>

        <li><a href="./Deep_Learning_Specialization/portfolio-12.html" target="_blank">Trigger Word Detection</a></li>
        <p>Implement an algorithm for trigger word detection.</p>
    </ul>
</details>

<h2>
    Codes based on exercises from the IBM AI Engineering Specialization taught by IBM Skills Network
    <a class="icon fa fa-github-square" style="color:inherit;text-decoration:none" href="https://github.com/LuisAngelMendozaVelasco/IBM_AI_Engineering_Professional_Certificate" target="_blank"></a>
    <a class="icon fa fa-file-pdf-o" style="color:inherit;text-decoration:none" href="https://coursera.org/verify/professional-cert/N4KKK5YLRW7V" target="_blank"></a>
</h2>

<details>
    <summary>Click here</summary>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-1.html" target="_blank">CO2 Emissions</a></li>
        <p>Implement Simple and Multiple Linear Regression to predict CO2 emissions from light-duty vehicles.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-2.html" target="_blank">Classification of Customers</a></li>
        <p>Use <i>k</i>-Nearest Neighbors to classify customers into group memberships for a telecommunications provider.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-3.html" target="_blank">Medical Treatment</a></li>
        <p>Build a Decision Tree classifier to find out which drug might be appropriate for a future patient with the same illness.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-4.html" target="_blank">Credit Card Transactions Fraud Detection</a></li>
        <p>Build a model that predicts whether a credit card transaction is fraudulent or not on an imbalanced dataset.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-5.html" target="_blank">Price of Houses</a></li>
        <p>Build a Decision Tree regressor that can predict the median price of houses for various areas of Boston.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-6.html" target="_blank">Taxi Tip</a></li>
        <p>Train a regression model to predict the amount of a taxi tip.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-7.html" target="_blank">Customer Churn</a></li>
        <p>Train a Logistic Regression classifier to predict customer churn for a telecom company.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-8.html" target="_blank">Tumor Classification</a></li>
        <p>Build and train a model to classify human cells samples as benign or malignant.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-9.html" target="_blank">Iris Flower Species</a></li>
        <p>Train a model using the classic iris dataset for multi-class classification.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-10.html" target="_blank">Customer Segmentation</a></li>
        <p>Use <i>k</i>-Means Clustering for customer segmentation.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-11.html" target="_blank">Weather Forecast</a></li>
        <p>Train multiple classification models to predict the weather forecast in Australia.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-12.html" target="_blank">Compressive Strength of Concrete</a></li>
        <p>Build a regression model using Keras to predict the compressive strength of concrete.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-13.html" target="_blank">MNIST database</a></li>
        <p>Build a Deep Neural Network and a Convolutional Neural Network to classify handwritten digits.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-14.html" target="_blank">Fashion MNIST database</a></li>
        <p>Build a Deep Neural Network and a Convolutional Neural Network using Pytorch to classify fashion products.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-15.html" target="_blank">Real-Time Object Detection</a></li>
        <p>Implement pedestrian detection using a pretrained Faster R-CNN model.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-16.html" target="_blank">Language Modelling</a></li>
        <p>Create a Recurrent Neural Network focused on Language Modelling and reach low levels of perplexity on the Penn Treebank dataset.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-17.html" target="_blank">Data Reconstruction</a></li>
        <p>Reconstruct an image using a Restricted Boltzmann Machine.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-18.html" target="_blank">Autoencoder</a></li>
        <p>Create a simple autoencoder for feature extraction, dimensionality reduction and reconstruction of images.</p>
    </ul>
    <ul>
        <li><a href="./IBM_AI_Engineering/portfolio-19.html" target="_blank">Concrete Crack Detector</a></li>
        <p>Leverage pre-trained models to build image classifiers to detect concrete with and without cracks.</p>
    </ul>
</details>

<!-- Modified by Luis Mendoza -->
